@using CronductorApp.Components.Composition.Molecules

<div class="columns is-gapless layout-container">
    <div class="column is-2">
        <NavBar NavigationItems="@NavigationItems" />
    </div>
    <div class="column">
        <main>
            <article class="container">
                @ChildContent
            </article>
        </main>
    </div>
</div>

@code {
    [Parameter]
    public required Dictionary<string, string> NavigationItems { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
