:root {
    --bulma-primary-h: 302deg;
    --bulma-primary-s: 83%;
    --bulma-primary-l: 35%;
    --bulma-link-h: 265deg;
    --bulma-link-s: 84%;
    --bulma-link-l: 37%;
    --bulma-success-h: 135deg;
    --bulma-success-s: 70%;
    --bulma-success-l: 41%;
    --bulma-warning-h: 36deg;
    --bulma-warning-s: 87%;
    --bulma-warning-l: 59%;
    --bulma-danger-l: 56%;
    --bulma-scheme-h: 252;
    --bulma-scheme-s: 26%;
    --bulma-hover-background-l-delta: 20%;
}