@page "/requests/scheduled"
@page "/requests"
@rendermode InteractiveServer
@using CronductorApp.RequestScheduler
@inject ScheduleService ScheduleService
@inject NavigationManager Navigation

<PageTitle>Scheduled Requests - Cronductor</PageTitle>

<div class="requests-page">
    <RequestsSubNav />
    <ScheduledRequestsSection ScheduledRequests="@ScheduleService.RequestDefinitions" OnAddRequest="@AddRequest"
        OnEditRequest="@EditRequest" OnDeleteRequest="@DeleteRequest" />
</div>

@code {
    protected override void OnInitialized()
    {
        // obsolete?
    }

    private async Task AddRequest()
    {
        Navigation.NavigateTo("/requests/scheduled/new");
        await Task.CompletedTask;
    }

    private async Task EditRequest(string requestId)
    {
        Navigation.NavigateTo($"/requests/scheduled/edit/{requestId}");
        await Task.CompletedTask;
    }

    private async Task DeleteRequest(string requestId)
    {
        await ScheduleService.DeleteDefinitionAsync(requestId);
    }
}
