@page "/requests/edit"
@rendermode InteractiveServer
@using CronductorApp.RequestScheduler
@using CronductorApp.RequestScheduler.Models
@inject ScheduleService ScheduleService

<h3>Edit</h3>

<p>Try adding a request</p>
<button class="btn btn-primary" @onclick="TryAddRequest">Add Request</button>

<br />
<p>Check the console for output.</p>

@code {
    private void TryAddRequest()
    {
        var request = new ScheduledRequest
        {
            Name = "Test Request",
            Method = "GET",
            Url = "https://jsonplaceholder.typicode.com/posts",
            CronSchedule = "*/10 * * * * *", // Every 30s
        };

        // todo - should probably be async?
        ScheduleService.AddSchedule(request);
    }
}