<!-- Brand Logo Atom -->
<div class="is-flex is-align-items-center">
    <!-- Placeholder logo - will be replaced with actual logo later -->
    <div class="logo-placeholder is-flex is-align-items-center is-justify-content-center mr-3">
        <i class="fas fa-clock is-size-4 has-text-white"></i>
    </div>
    <h1 class="brand-text title is-3 has-text-weight-bold has-text-white mt-2">Cronductor</h1>
</div>
