<!-- NavBar Item -->
<a class="menu-label nav-item" href="@Link">
    @Title
</a>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Link { get; set; }
}