<!-- NavBar Item -->
<a class="menu-label nav-item is-size-7 @(IsActive ? "is-active" : "")" href="@Link">
    <i class="@Icon mx-3 my-2"></i>
    @Title
</a>

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Link { get; set; }

    [Parameter]
    public required string Icon { get; set; }

    [Parameter]
    public bool IsActive { get; set; }
}