<!-- Filter Bar Molecule -->
<div class="is-flex is-justify-content-flex-end is-align-items-center my-2 section-header">
    <SearchInput Placeholder="@Placeholder" Value="@FilterText" OnValueChanged="@OnFilterChanged" />
</div>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "Filter...";

    [Parameter]
    public string FilterText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnFilterChanged { get; set; }
}
