@using CronductorApp.Components.Composition.Atoms

<!-- Sidebar Navigation -->
<aside class="menu sidebar-nav">
    <ul class="menu-list">
        @foreach (var item in NavigationItems)
        {
            <li>
                <NavBarItem Title="@item.Key" Link="@item.Value" />
            </li>
        }
    </ul>
</aside>

@code {
    [Parameter]
    public required Dictionary<string, string> NavigationItems { get; set; }
}