@using CronductorApp.Components.Composition.Atoms

<!-- Navigation Bar -->
<nav class="navbar" role="navigation">
    <NavBarItem Title="Requests" Link="/requests" />
    <NavBarItem Title="Events" Link="#" />
    <NavBarItem Title="Other" Link="#" />
</nav>

@code {
}