@using CronductorApp.Components.Composition.Atoms
@using CronductorApp.Components.ViewModels

<!-- Sidebar Navigation -->
<aside class="menu sidebar-nav">
    <ul class="menu-list">
        @foreach (var item in NavigationItems)
        {
            <li>
                <NavBarItem Title="@item.Title" Link="@item.Link" Icon="@item.Icon" />
            </li>
        }
    </ul>
</aside>

@code {
    [Parameter]
    public required List<NavigationItem> NavigationItems { get; set; }
}