@using CronductorApp.Components.Composition.Molecules
@inherits LayoutComponentBase

<div class="">
    <header>
        <div>Cronductor</div>
    </header>
    
    <NavBar /><!-- todo: hoist links for nav at this level? -->

    <main>
        <article class="container">
            @Body
        </article>
    </main>
</div>