@inherits LayoutComponentBase

<div class="">
    <nav class="navbar is-dark" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">Cronductor</a>
        </div>
    </nav>
    
    <main>
        <article class="container">
            @Body
        </article>
    </main>
</div>