@using CronductorApp.Components.Composition.Molecules
@using CronductorApp.Components.Composition.Organisms
@inherits LayoutComponentBase

<div class="">
    <AppHeader />

    <NavBar NavigationItems="@NavigationItems" />

    <main>
        <article class="container">
            @Body
        </article>
    </main>
</div>

@code {
    private Dictionary<string, string> NavigationItems => new()
    {
        ["Requests"] = "/requests",
        ["Events"] = "#",
        ["Other"] = "#"
    };
}