@page "/"

<PageTitle>Dashboard - Cronductor //TODO</PageTitle>

<section class="section">
    <h1 class="title">Dashboard</h1>
    <div class="grid is-col-min-12 is-column-gap-4 is-row-gap-4">
        <div class="cell ">
            <div class="box">
                <figure class="image is-128x128 is-skeleton">
                    <img alt="Placeholder" src="https://placehold.co/128x128">
                </figure>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <figure class="image is-128x128 is-skeleton">
                    <img alt="Placeholder" src="https://placehold.co/128x128">
                </figure>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <figure class="image is-128x128 is-skeleton">
                    <img alt="Placeholder" src="https://placehold.co/128x128">
                </figure>
            </div>
        </div>
        <div class="cell">
            <div class="box">
                <figure class="image is-128x128 is-skeleton">
                    <img alt="Placeholder" src="https://placehold.co/128x128">
                </figure>
            </div>
        </div>
    </div>
</section>
