@inherits LayoutComponentBase

<div class="main-layout">
    <div class="sidebar">
        <h3>Cronductor</h3>
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
