@inherits LayoutComponentBase

<div class="">
    <div class="">
        <NavMenu/>
    </div>

    <main>
        <div class="">
        </div>

        <article class="">
            @Body
        </article>
    </main>
</div>