<div class="">
    <div class="">
        <a class="" href="">CronductorApp</a>
    </div>
</div>

<div class="" style="display: none" >
    <nav class="">
        <div class="">
            <NavLink class="" href="" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <div class="">
            <NavLink class="" href="requests">
                <span class="" aria-hidden="true"></span> HTTP Requests
            </NavLink>
        </div>
        
        <div class="">
            <NavLink class="" href="requests/edit">
                <span class="" aria-hidden="true"></span> Add Request
            </NavLink>
        </div>
    </nav>
</div>